<div>
    <div>
    	<h3 style="text-align: center;">Lista de Puntos de retiro</h3>
        <br/>
        <a class="btn btn-primary black-background" style="position: relative; left: 67%;" [routerLink]="['/direccion/new']" role="button">Nueva Direccion</a>
      <a class="btn btn-primary black-background" style="position: relative; left: 68%;" [routerLink]="['/punto_retiro/new']" role="button">Nuevo Punto</a>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Direccion</th>
                <th>Persona a cargo</th>
                <th>Telefono</th>
                <th>Estado</th>
                <th>Detalle</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let punto of puntos">
                <td>Calle: {{ punto.direccion.calle}}, Numero: {{punto.direccion.numero}}</td>
                <td>{{ punto.nombre }}</td>
                <td>{{ punto.telefono }}</td>
                <td>{{ punto.enable}}</td>
                <td><a class="btn btn-primary black-background" [routerLink]="['/punto_retiro', punto.id]" role="button">Ver Punto</a></td>
                <td><a class="btn btn-danger black-background" [routerLink]="['/punto_retiro', punto.id, 'delete']" role="button">Eliminar</a></td>
              </tr>
            </tbody>
        </table>
    </div>
    <br><br><br><br><br><br>
</div>