<select class="form-select" #opcion (change)="mostrarSeleccionado(opcion.value)">
    <option default>Seleccione que desea mostrar</option>
    <option>Domicilio</option>
    <option>Retiro</option>
</select>
<div *ngIf="mostrar==='Domicilio'">
    <div>
    	<h3 style="text-align: center;">Lista de Pedidos para entrega a domicilio</h3>
        <br/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Domicilio de entrega</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items" >
                <ng-container *ngIf="item.pedido.forma_entrega === 'Domicilio'">
                    <td>{{item.pedido.usuario?.apellido}}, {{item.pedido.usuario?.nombre}}</td>
                    <td>{{ item.producto.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>{{item.pedido.direccion?.calle}} Nº {{item.pedido.direccion?.numero}}</td>  
                </ng-container>
              </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="mostrar==='Retiro'">
    <div>
    	<h3 style="text-align: center;">Lista de Pedidos para retirar en punto de retiro</h3>
        <br/>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Direccion</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of items" >
                <ng-container *ngIf="item.pedido.forma_entrega === 'Retiro'">
                    <td>{{item.pedido.usuario?.apellido}}, {{item.pedido.usuario?.nombre}}</td>
                    <td>{{ item.producto.nombre }}</td>
                    <td>{{ item.cantidad }}</td>
                    <td>{{item.pedido.direccion?.calle}} Nº {{item.pedido.direccion?.numero}}</td>  
                </ng-container>
              </tr>
            </tbody>
        </table>
    </div>
</div>