.boton{
    padding: 10px 20px 10px 20px;
    color: #eeee;
    background-color: #d44141;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid  #d44141;
    border-radius: 20px;
  }
  .boton:hover{
    border: 1px solid #d44141;
    border-radius: 20px;
    color: #eeee;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 3px 0px #d44141;
  }
  .boton:active{
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #d44141;
    color: #eeee;
    background-color: #d44141de;
    box-shadow: 0px 1px 0px #d44141;
  }
  .check-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: transparent;
  }
  
  .check-icon.checked {
    background-color: #4caf50; /* Color verde para el check */
    border-color: #4caf50;
    position: relative;
  }
  
  .check-icon.checked::before {
    content: '\2713'; /* Código del símbolo de checkmark */
    font-size: 16px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 