<div class="col-md-4 text-center;"> <!--Todo dentro de un div para poder trabajarlo como un bloque-->    
    <table class="table table-striped" style="position: relative; left: 100%;">
        <thead>
          <tr>
            <th scope="col">Datos de la ronda</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Fecha de Inicio</th>
            <td><span>{{Ronda.f_inicio}}</span></td>
          </tr>
          <tr>
            <th scope="row">Fecha Final</th>
            <td><span>{{Ronda.f_fin}}</span></td>
          </tr>
          <tr>
            <th scope="row">Fecha de Retiros Inicio</th>
            <td><span>{{Ronda.f_retiro_inicio}}</span></td>
          </tr>
          <tr>
            <th scope="row">Fecha de Retiros Final</th>
            <td><span>{{Ronda.f_retiro_fin}}</span></td>
          </tr>
          <tr>
            <th scope="row">Estado</th>
            <td><span>{{Ronda.enable}}</span></td>
          </tr>
        </tbody>
        <a class="btn btn-primary black-background" style="border: solid #d44141" [routerLink]="['/ronda', Ronda.id,'update']" role="button">Modificar ronda</a>
      </table>
</div>
<br/><br/><br/>